.container{
  width: 6rem;
  height: 100vh;
  background-color: var(--blue-300);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 1.5rem 0.8rem;

  .buttons_container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    gap: 0.5rem;
  }

  button {
    position: relative;
    width: 3.5rem;
    height: 3.5rem;
    background-color: var(--blue-350);

    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0;

    &.active{
      background-color: var(--green-300);
    }

    img{
      width: 2rem;
      height: 2rem;
    }

    .button_hover {
      position: absolute;
      display: none;
      width: 6rem;
      height: 3rem;
      background-color: var(--white);

      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.289);
      border-radius: 7px;
      left: 4rem;
      pointer-events: none;
      padding: 0.5rem;

      transition: 0.2s ease;

      span{
        font-size: 1rem;
      }
    }
    &:hover .button_hover{
      display: flex;

      align-items: center;
      justify-content: center;
    }
  }
}