.Modalbackground{
  z-index: 9999;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.241);
  display: flex;
  align-items: center;
  justify-content: center;

  .modal_popup{
    padding: 1rem;
    border-radius: 7px;
    background-color: var(--white);
    width: 25rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.275);

    h2{
      text-align: center;
      margin: 1rem 0;
      span{
        color: var(--blue-300);
      }
    }

    .button_container_modal{
      margin-top: 1rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      gap: 1rem;

      button{
        width: 50%;
        padding: 1rem;
        color: var(--white);
        font-weight: 600;
        font-size: 1rem;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 1rem;

        &:first-child{
          background-color: var(--green-300);
        }
        &:last-child{
          background-color: var(--red-300);
        }
      }
    }
  }
}