.drop_container{
  width: 100%;
  min-height: 6rem;
  border: 3px dashed var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  border-radius: 7px;
  gap: 1rem;
  cursor: pointer;

  &.drag_active{
    border-color: var(--green-300);
    background-color: red;
  }
  &.drag_reject{
    border-color: var(--red-300);
    background-color: blue;
  }

  img{
    width: 3.5rem;
    height: 3.5rem;
  }
}

.drag_active{
  border-color: var(--green-300);
  background-color: red;
}
.drag_reject{
  border-color: var(--red-300);
  background-color: blue;
}
